[submodule "intro-to-ml-exercises"]
	path = MachineLearning
	url = https://github.com/ligerlac/intro-to-ml-exercises
[submodule "ScientificPython_withGPUs"]
	path = ScientificPython_withGPUs
	url = https://github.com/davidlange6/ScientificPython_withGPUs
[submodule "hls4ml-exercises"]
	path = L1Trigger-HLS4ML
	url = https://github.com/ligerlac/hls4ml-exercises.git
[submodule "tutorial-managing-software-hsf-india-june2025"]
	path = Managing-Software
	url = https://github.com/vimartin/tutorial-managing-software-hsf-india-june2025
[submodule "Scientific-Python"]
	path = Scientific-Python
	url = https://github.com/maxgalli/2025-06-15-hsf-india-tutorial-bangalore
[submodule "HEP-Statistics"]
	path = HEP-Statistics
	url = https://github.com/maxgalli/statistics-das-India
[submodule "AnalysisGrandChallenge-Demo"]
	path = AnalysisGrandChallenge-Demo
	url = https://github.com/pallabidas/hsf-india-bangalore-agc-demo
